In [5]:
from zipfile import ZipFile
import os
with ZipFile(r"C:\Users\Aswin prabu\Downloads\PRCP-1006-HomeLoanDef.zip",'r') as f:
    f.extractall(os.getcwd())

In [26]:
import pandas as pd

# Load all datasets
application_train = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')
# bureau = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')
# bureau_balance = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')
# pos_cash_balance = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')

# credit_card_balance = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')
# previous_application = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')
# installments_payments = pd.read_csv(r'C:\Users\Aswin prabu\data\application_train.csv')

In [27]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
import itertools
datasets = {
    'application_train': application_train,
    'bureau': bureau,
    'bureau_balance': bureau_balance,
    'pos_cash_balance': pos_cash_balance,
    'credit_card_balance': credit_card_balance,
    'previous_application': previous_application,
    'installments_payments': installments_payments
}

# Get all possible pairs of datasets
combinations = itertools.combinations(datasets.items(), 2)

# Compare each combination
for (name1, df1), (name2, df2) in combinations:
    comparison = df1.compare(df2)
    if not comparison.empty:
        print(f"Differences found between {name1} and {name2}:")
        print(comparison)
    else:
        print(f"{name1} and {name2} are identical.")

NameError: name 'bureau' is not defined

In [29]:
df=application_train

In [30]:
import pandas as pd
import numpy as np
# Check for missing values
missing_values = application_train.isnull().sum()
print(missing_values[missing_values > 0])

AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
OWN_CAR_AGE                   202929
OCCUPATION_TYPE                96391
                               ...
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 67, dtype: int64

In [31]:
import pandas as pd

# List of numerical columns
num_columns = application_train.select_dtypes(include=[np.number]).columns

application_train[num_columns] = application_train[num_columns].fillna(application_train[num_columns].mean())

In [32]:
cat_columns = application_train.select_dtypes(include=['object']).columns

for column in cat_columns:
    mode_value = application_train[column].mode()[0]
    application_train[column].fillna(mode_value, inplace=True)

In [33]:
cat_df=pd.DataFrame(application_train[cat_columns])
cat_df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,reg oper account,block of flats,Panel,No
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,reg oper account,block of flats,Panel,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,Laborers,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,reg oper account,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No

In [34]:
for col in cat_df.columns:
    print(f"{col} has unique values of length {cat_df[col].nunique()}")

NAME_CONTRACT_TYPE has unique values of length 2
CODE_GENDER has unique values of length 3
FLAG_OWN_CAR has unique values of length 2
FLAG_OWN_REALTY has unique values of length 2
NAME_TYPE_SUITE has unique values of length 7
NAME_INCOME_TYPE has unique values of length 8
NAME_EDUCATION_TYPE has unique values of length 5
NAME_FAMILY_STATUS has unique values of length 6
NAME_HOUSING_TYPE has unique values of length 6
OCCUPATION_TYPE has unique values of length 18
WEEKDAY_APPR_PROCESS_START has unique values of length 7
ORGANIZATION_TYPE has unique values of length 58
FONDKAPREMONT_MODE has unique values of length 4
HOUSETYPE_MODE has unique values of length 3
WALLSMATERIAL_MODE has unique values of length 7
EMERGENCYSTATE_MODE has unique values of length 2

In [35]:
application_train['TARGET']

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [36]:
application_train.select_dtypes(include='O').columns

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [37]:
X_train.head()

NameError: name 'X_train' is not defined

In [14]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_EDUCATION_TYPE_target_encoded,NAME_FAMILY_STATUS_target_encoded,NAME_HOUSING_TYPE_target_encoded,OCCUPATION_TYPE_target_encoded,WEEKDAY_APPR_PROCESS_START_target_encoded,ORGANIZATION_TYPE_target_encoded,FONDKAPREMONT_MODE_target_encoded,HOUSETYPE_MODE_target_encoded,WALLSMATERIAL_MODE_target_encoded,EMERGENCYSTATE_MODE_target_encoded
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.089399,0.098077,0.077957,0.079933,0.081604,0.092996,0.081925,0.08061,0.074057,0.080614
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.053551,0.075599,0.077957,0.063040,0.077572,0.059148,0.081925,0.08061,0.070247,0.080614
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.089399,0.098077,0.077957,0.079933,0.077572,0.069781,0.081925,0.08061,0.083024,0.080614
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.089399,0.099446,0.077957,0.079933,0.081604,0.092996,0.081925,0.08061,0.083024,0.080614
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.089399,0.098077,0.077957,0.063040,0.081003,0.058824,0.081925,0.08061,0.083024,0.080614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.089399,0.081942,0.116981,0.096318,0.081003,0.066032,0.081925,0.08061,0.074057,0.080614
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.089399,0.058242,0.077957,0.079933,0.077572,0.053996,0.081925,0.08061,0.074057,0.080614
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.053551,0.081942,0.077957,0.062140,0.081003,0.059148,0.081925,0.08061,0.083024,0.080614
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.089399,0.075599,0.077957,0.079933,0.081604,0.081384,0.081925,0.08061,0.074057,0.080614
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.053551,0.075599,0.077957,0.079933,0.081003,0.092996,0.081925,0.08061,0.083024,0.080614

In [38]:
duplicates = application_train.duplicated()
print(f'Number of duplicate rows: {duplicates.sum()}')

Number of duplicate rows: 0

In [39]:
from joblib import Parallel, delayed
import pandas as pd
import hashlib

def hash_series(series):
    return hashlib.md5(pd.util.hash_pandas_object(series, index=False).values).hexdigest()

hashed_columns = Parallel(n_jobs=-1)(delayed(hash_series)(application_train[col]) for col in application_train.columns)

hashed_columns_dict = dict(zip(application_train.columns, hashed_columns))

hash_values = pd.Series(hashed_columns_dict)

duplicated_columns = hash_values[hash_values.duplicated()].index

print("Duplicated Columns:", duplicated_columns.tolist())

Duplicated Columns: []

In [40]:
df=application_train

In [42]:
dis_num_columns = [fea for fea in num_columns if df[fea].nunique()<20]
dis_num_columns

['TARGET',
 'CNT_CHILDREN',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_QRT']

In [41]:
df['TARGET'].value_counts()

TARGET
0    282686
1     24825
Name: count, dtype: int64

In [43]:
print(df[num_columns].nunique())

SK_ID_CURR                    307511
TARGET                             2
CNT_CHILDREN                      15
AMT_INCOME_TOTAL                2548
AMT_CREDIT                      5603
                               ...
AMT_REQ_CREDIT_BUREAU_DAY         10
AMT_REQ_CREDIT_BUREAU_WEEK        10
AMT_REQ_CREDIT_BUREAU_MON         25
AMT_REQ_CREDIT_BUREAU_QRT         12
AMT_REQ_CREDIT_BUREAU_YEAR        26
Length: 106, dtype: int64

In [44]:
threshold = 3  # Example threshold

dis_cat_columns = [col for col in cat_columns if df[col].nunique() < threshold]

print(dis_cat_columns)

['NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'EMERGENCYSTATE_MODE']

In [45]:
df['NAME_FAMILY_STATUS'].value_counts()

NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: count, dtype: int64

In [46]:
# Check for unique values
print(df[cat_columns].nunique())

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from imblearn.combine import SMOTETomek
from imblearn.over_sampling import ADASYN
from imblearn.pipeline import Pipeline as imba_Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
import lightgbm as lgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report, precision_recall_curve
from tqdm import tqdm

cat_cols = [
    'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 
    'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 
    'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 
    'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'
]

num_cols = application_train.select_dtypes(include=['float64', 'int64']).columns.tolist()
num_cols = [col for col in num_cols if col != 'TARGET']

def target_encode_and_add_columns(df, target_col, cat_cols):
    target_means = {}
    for col in cat_cols:
        means = df.groupby(col)[target_col].mean()
        new_col_name = f"{col}_target_encoded"
        df[new_col_name] = df[col].map(means)
        target_means[col] = means
    return df, target_means

application_train_encoded, _ = target_encode_and_add_columns(application_train, 'TARGET', cat_cols)

# Drop original categorical columns
application_train_encoded = application_train_encoded.drop(columns=cat_cols)

# Split numerical and target columns
X = application_train_encoded.drop(columns=['TARGET'])
y = application_train_encoded['TARGET']

# Normalize numerical features using MinMaxScaler
scaler = MinMaxScaler()
X[num_cols] = scaler.fit_transform(X[num_cols])

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Define models with class weights
models = {
    'Logistic Regression': (LogisticRegression(solver='liblinear', class_weight='balanced'), {
        'logistic_regression__C': [0.1, 1]
    }),
    'Random Forest': (RandomForestClassifier(class_weight='balanced'), {
        'random_forest__n_estimators': [50],
        'random_forest__max_depth': [None]
    }),
    'Gradient Boosting': (GradientBoostingClassifier(), {
        'gradient_boosting__n_estimators': [50],
        'gradient_boosting__learning_rate': [0.1]
    }),
    'XGBoost': (XGBClassifier(use_label_encoder=False, eval_metric='logloss', 
                              scale_pos_weight=len(y_train[y_train == 0]) / len(y_train[y_train == 1])), {
        'xgboost__n_estimators': [50],
        'xgboost__learning_rate': [0.1]
    }),
    'LightGBM': (lgb.LGBMClassifier(), {
        'lightgbm__n_estimators': [50],
        'lightgbm__learning_rate': [0.1]
    })
}

best_models = {}
results = {}

for name, (model, params) in tqdm(models.items(), desc="Models", unit="model"):
    print(f"Running RandomizedSearchCV for {name}...")
    
    pipeline = imba_Pipeline([
        ('adasyn', ADASYN(random_state=42)), 
        (name.lower().replace(' ', '_'), model)  
    ])
    
    # RandomizedSearchCV with fewer iterations and recall as the scoring metric
    random_search = RandomizedSearchCV(pipeline, params, n_iter=3, cv=3, scoring='recall', 
                                       verbose=1, random_state=42, n_jobs=-1, return_train_score=True)
    
    random_search.fit(X_train, y_train)
    
    # Best model and parameters
    best_models[name] = random_search.best_estimator_
    results[name] = {
        'best_params': random_search.best_params_,
        'best_score': random_search.best_score_,
        'test_score': best_models[name].score(X_test, y_test)
    }

    print(f"{name} Best Params: {results[name]['best_params']}")
    print(f"{name} Test Score: {results[name]['test_score']}")

best_model_name = max(results, key=lambda x: results[x]['test_score'])
print(f"\nBest Model: {best_model_name}")
print(classification_report(y_test, best_models[best_model_name].predict(X_test)))

y_pred_prob = best_models[best_model_name].predict_proba(X_test)[:, 1]

precision, recall, thresholds = precision_recall_curve(y_test, y_pred_prob)
custom_threshold = 0.3  # Adjust this based on precision-recall tradeoff
y_pred_custom = (y_pred_prob >= custom_threshold).astype(int)

print(f"\nClassification report with adjusted threshold (threshold = {custom_threshold}):")
print(classification_report(y_test, y_pred_custom))

# Print summary of results
for model_name, result in results.items():
    print(f"{model_name} - Best Params: {result['best_params']}, Test Score: {result['test_score']}")

Models:   0%|                                                                                 | 0/5 [00:00<?, ?model/s]C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 2 is smaller than n_iter=3. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Running RandomizedSearchCV for Logistic Regression...
Fitting 3 folds for each of 2 candidates, totalling 6 fits

Models:  20%|██████████████▍                                                         | 1/5 [03:07<12:30, 187.74s/model]

Logistic Regression Best Params: {'logistic_regression__C': 1}
Logistic Regression Test Score: 0.679493572094435
Running RandomizedSearchCV for Random Forest...
Fitting 3 folds for each of 1 candidates, totalling 3 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 1 is smaller than n_iter=3. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
Models:  40%|████████████████████████████▊                                           | 2/5 [07:44<12:00, 240.18s/model]

Random Forest Best Params: {'random_forest__n_estimators': 50, 'random_forest__max_depth': None}
Random Forest Test Score: 0.9192338543586186
Running RandomizedSearchCV for Gradient Boosting...
Fitting 3 folds for each of 1 candidates, totalling 3 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 1 is smaller than n_iter=3. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
Models:  60%|███████████████████████████████████████████▏                            | 3/5 [19:27<15:02, 451.30s/model]

Gradient Boosting Best Params: {'gradient_boosting__n_estimators': 50, 'gradient_boosting__learning_rate': 0.1}
Gradient Boosting Test Score: 0.9126216749409239
Running RandomizedSearchCV for XGBoost...
Fitting 3 folds for each of 1 candidates, totalling 3 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 1 is smaller than n_iter=3. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
C:\Users\Aswin prabu\AppData\Roaming\Python\Python311\site-packages\xgboost\core.py:158: UserWarning: [17:24:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
Models:  80%|█████████████████████████████████████████████████████████▌              | 4/5 [20:30<04:58, 298.24s/model]

XGBoost Best Params: {'xgboost__n_estimators': 50, 'xgboost__learning_rate': 0.1}
XGBoost Test Score: 0.5159559477095844
Running RandomizedSearchCV for LightGBM...
Fitting 3 folds for each of 1 candidates, totalling 3 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 1 is smaller than n_iter=3. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

[LightGBM] [Info] Number of positive: 197119, number of negative: 197845
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.087252 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 25346
[LightGBM] [Info] Number of data points in the train set: 394964, number of used features: 117
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.499081 -> initscore=-0.003676
[LightGBM] [Info] Start training from score -0.003676

Models: 100%|████████████████████████████████████████████████████████████████████████| 5/5 [21:39<00:00, 259.97s/model]

LightGBM Best Params: {'lightgbm__n_estimators': 50, 'lightgbm__learning_rate': 0.1}
LightGBM Test Score: 0.9195915624254775

Best Model: LightGBM

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     84841
           1       0.42      0.00      0.00      7413

    accuracy                           0.92     92254
   macro avg       0.67      0.50      0.48     92254
weighted avg       0.88      0.92      0.88     92254


Classification report with adjusted threshold (threshold = 0.3):
              precision    recall  f1-score   support

           0       0.93      0.98      0.95     84841
           1       0.30      0.10      0.15      7413

    accuracy                           0.91     92254
   macro avg       0.61      0.54      0.55     92254
weighted avg       0.88      0.91      0.89     92254

Logistic Regression - Best Params: {'logistic_regression__C': 1}, Test Score: 0.679493572094435
Random Forest - Best Params: {'random_forest__n_estimators': 50, 'random_forest__max_depth': None}, Test Score: 0.9192338543586186
Gradient Boosting - Best Params: {'gradient_boosting__n_estimators': 50, 'gradient_boosting__learning_rate': 0.1}, Test Score: 0.9126216749409239
XGBoost - Best Params: {'xgboost__n_estimators': 50, 'xgboost__learning_rate': 0.1}, Test Score: 0.5159559477095844
LightGBM - Best Params: {'lightgbm__n_estimators': 50, 'lightgbm__learning_rate': 0.1}, Test Score: 0.9195915624254775

## RANDOM FOREWST APPEARS TO BE A GOOD MODEL WITH HIGH ACCURACY EVEN THOUGH MANY DATAPOINTS ON CLASS 0 ATTEMPT TO BALANCE THE DATASET WITH MANY PARAMETERS IS STILL SKEWED TOWARDS THE MAJORITY CLASS

In [57]:
!pip install lightgbm

Defaulting to user installation because normal site-packages is not writeable
Collecting lightgbm
  Downloading lightgbm-4.5.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (1.11.4)
Downloading lightgbm-4.5.0-py3-none-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ----------------------------- ---------- 1.0/1.4 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 5.0 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.5.0

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330